.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #a0c4ff, #f4a8d2, #a7c7f5, #81e8e2);
  background-size: 400% 400%;
  animation: gradientShift 12s ease infinite;
  position: relative;
  overflow: hidden;

  &__question {
    width: 400px;
  }

  &__title {
    text-align: center;
  }

  &__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  &__option {
    color: black;

    background-color: white;
    border-radius: 10px;
    border: 1px solid transparent;
  }

  &__option:has(input[type="checkbox"]:checked) {
    border: 1px solid blue;
  }

  input[type="checkbox"] {
    visibility: hidden;
    position: absolute;
  }

  input[type="checkbox"] + label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2rem 1rem;
  }

  &__error {
    color: red;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 4px;
  }
}
